/* Individual tile styles */

/* start tile */

#tile-2-2{
    background-image: url('../../public/tiles/newStartTile.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* Music fork */
#tile-2-1{
    background-image: url('../../public/tiles/MusicFork.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#tile-2-0{
    background-image: url('../../public/tiles/HouseAlbumTile.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#tile-1-1{
    background-image: url('../../public/tiles/HipHopAlbum.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}





/* main fork tile */
#tile-2-3{
    background-image: url('../../public/tiles/ForkTile.png');
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: center;

}

#tile-1-3{
    background-image: url('../../public/tiles/HsSwimTile.png');
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: center;

}

#tile-0-3{
    background-image: url('../../public/tiles/CollegeSwimTile.png');
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: center;

}

#tile-3-3{
    background-image: url('../../public/tiles/CodingPath.png');
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: center;

}

